<!--<style>-->
<!--  .block1{-->
<!--    padding-left: 300px;-->
<!--    padding-top: 50px;-->
<!--  }-->
<!--  form{-->
<!--    margin-top: 10px;-->
<!--    margin-left: 80px ;-->
<!--  }-->
<!--  input[type=text], select {-->
<!--    width: 100%;-->
<!--    padding: 12px 12px;-->
<!--    margin: 8px 0;-->
<!--    display: inline-block;-->
<!--    border: 1px solid #ccc;-->
<!--    border-radius: 4px;-->
<!--    box-sizing: border-box;-->
<!--  }-->

<!--  input[type=submit] {-->
<!--    width: 100%;-->
<!--    background-color: #4CAF50;-->
<!--    color: white;-->
<!--    padding: 14px 20px;-->
<!--    margin: 8px 0;-->
<!--    border: none;-->
<!--    border-radius: 4px;-->
<!--    cursor: pointer;-->
<!--  }-->

<!--  input[type=submit]:hover {-->
<!--    background-color: #45a049;-->
<!--  }-->

<!--  div {-->
<!--    border-radius: 5px;-->
<!--    padding-right: 380px;-->
<!--  }-->
<!--  h1{-->
<!--    font-family: Arial;-->
<!--  }-->
<!--  .button {-->
<!--    background-color: steelblue; /* Green */-->
<!--    border: none;-->
<!--    color: white;-->
<!--    padding: 5px 12px;-->
<!--    text-align: center;-->
<!--    text-decoration: none;-->
<!--    display: inline-block;-->
<!--    font-size: 16px;-->

<!--  }-->


<!--</style>-->

<!--<body>-->

<!--<div class="block1">-->
<!--  <h1>ToDo List</h1>-->
<!--    <div class = "textfield">-->
<!--      <form>-->
<!--        <input type="text" id="fname" name="firstname" placeholder="New Task">-->
<!--        <div class="button">-->
<!--          <button class="button">Add</button>-->
<!--        </div>-->
<!--      </form>-->

<!--&lt;!&ndash;        <div class="button">&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="button">Add</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--    </div>-->
<!--</div>-->
<!--</body>-->

<style>
  .block1 {
    margin-left: 400px;
    margin-top: 50px;
    width: 800px;
  }
h1{
    font-family: Calibri;
}

input{
  margin-left: 70px;
  height: 30px;
  border-radius: 5px;
  border: 1px grey solid;
  width: 600px;
}

button{
  background-color: #346beb;
  color: white;
  margin-left: 20px;
  height: 34px;
  border: 0px;
  border-radius: 5px;
  width: 70px;
  font-size: 15px;
}
input::placeholder{
  padding-left: 12px;
  font-size: 16px;
  font-family: Arial;
}

</style>
<div class="block1">
  <h1>ToDo List</h1>
  <br>
  <input type="text" placeholder="New Task">
  <button>Add</button>
</div>
