<style>
  .block1{
    padding-left: 300px;
    padding-top: 50px;
  }
  form{
    margin-top: 10px;
    margin-left: 50px ;

  }
  input[type=text], select {
    width: 600px;
    padding: 12px 12px;
    margin: 8px 36px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  div {
    border-radius: 5px;
    padding-right: 380px;

  }
  h1{
    font-family: Arial;
    font-weight: normal;
  }
  .button {
    background-color: steelblue; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

</style>

<body>

<div class="block1">
  <h1>ToDo List</h1>
  <div class = "textfield">
    <form>
      <input type="text" placeholder="New Task">
      <div class="button">
        <button class="button">Add</button>
      </div>
    </form>
  </div>
</div>
</body>
