.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  width: 75%;
  vertical-align: middle;
  margin: 5px 10px 5px 80px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 8px;
}

.form-inline button:hover {
  background-color: steelblue;
}

.adding {
  margin: 100px auto 0;
  width: 50%;
  padding: 10px;
}

